/Database/bin/
/Database/obj/
/MessengersClients/bin/
/MessengersClients/obj/
/BotLogic/bin/
/BotLogic/obj/
/API/bin/
/API/obj/
/.idea

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
